<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form action="#"
      th:action="@{/atualizar-cardapio/{id}(id=${cardapio.id})}"
      th:object="${cardapio}"
      method="post">
    <label for="nome">Nome: </label>
    <input type="text" th:field="*{nome}" id="nome">
    <span th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></span>
    <label for="descricao">Descrição: </label>
    <input type="text" th:field="*{descricao}" id="descricao">
    <label for="preco">Preço: </label>
    <input type="number" th:field="*{preco}" id="preco">
    <span th:if="${#fields.hasErrors('preco')}" th:errors="*{preco}"></span>

    <input type="submit" value="Atualizar">

</form>


</body>
</html>